include ./../layout.pug

block content
  h1 Book: #{book.title}
  form(action="/books/" + book.id + "?_method=PUT", method="post")
    include form
  h2 Loan History
  table
    thead
      tr
        th Book
        th Patron
        th Loaned On
        th Return By
        th Returned On
        th Action
    tbody
     for loan in loans
      tr
        td
          a(href='/books/' + book.id) #{book.title} 
        td
          a(href='/patron/' + patron.id) #{patron.first_name} #{patron.last_name} 
        td #{loan.loaned_on} 
        td #{loan.return_by} 
        td #{loan.returned_on}
        td 
          a(href='/books/return/' + book.id).button Return Book 
