include ./../layout.pug

block content
  h1= title
  if errors
    include ./../error.pug
  form(action="/loans/new", method="post")
    p
      label(for="book") Book
      select(id="book" name="book_id")
        option(value="") Select Book
        for book in books
          option(value=book.id) #{book.title}
    p
      label(for="Patron") Patron
      select(id="Patron" name="patron_id")
        option(value="") Select Patron
        for patron in patrons
          option(value=patron.id) #{patron.first_name} #{patron.last_name}
    p
      label(for="loaned_on") Loaned On:
      input(type="text", id="loaned_on", name="loaned_on", value=today)
    p
      label(for="loaned_on") Return By:
      input(type="text", id="loaned_on", name="return_by", value=returnBy)
    p
      input(type="submit" value='Create New Loan')